.skip-link {
	position: absolute;
	top: -4.5rem;
	left: 44vw;
	background-color: #314256;
	color: white;
	padding: 10px;
	z-index: 150;
}

.skip-link:focus {
	top: 0;
}

.header {
	position: relative;
	z-index: 100;

	&__brand {
		width: 100%;
		display: flex;
		position: fixed;
		justify-content: center;
		background-color: $light;
		color: $dark;
		box-shadow: 0px 0.1rem 0.6rem rgba($color: $dark, $alpha: 0.7);

		@include minWidth(769px) {
			justify-content: start;
		}

		.brand__title {
			font-family: 'Zilla Slab', serif;
			font-weight: 300;
			font-size: 2.4rem;
			padding: 2.05rem 2rem;
			color: $dark;
			text-decoration: none;

			@include minWidth(1025px) {
				padding: 2.05rem 4.8rem;
			}
		}

		.nav__toggle {
			position: absolute;
			top: 0.75rem;
			left: 1rem;
			padding: 1rem;
			background-color: inherit;
			border-width: 0;
			border-style: none;

			&:focus {
				outline: none;
			}

			@include minWidth(769px) {
				display: none;
			}

			// Toggle bar
			.bar1,
			.bar2,
			.bar3 {
				width: 2.4rem;
				height: 0.3rem;
				background-color: $dark;
				margin: 0.6rem 0;
				transition: 0.3s;
			}

			&.change {
				margin-top: 0.2rem;
			}

			&.change .bar1 {
				width: 2.8rem;
				transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
			}

			&.change .bar2 {
				opacity: 0;
				transition: 0.3s ease-in-out;
			}

			&.change .bar3 {
				width: 2.8rem;
				transform: rotate(45deg) translate(-0.75rem, -0.75rem);
			}
		}
	}

	&__nav {
		width: 100%;
		background-color: $light;
		display: grid;
		align-items: center;

		.nav__list {
			list-style-type: none;
			display: flex;
			justify-content: flex-end;
			position: fixed;
			right: 0;
			top: 2.4rem;

			@include minWidth(769px) {
				margin-right: 1.2rem;
			}

			@include minWidth(1025px) {
				margin-right: 3rem;
			}

			@include maxWidth(768px) {
				display: none;
			}

			.nav__item {
				text-transform: uppercase;

				& a {
					font-size: 1.4rem;
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.1rem;
					color: $dark;
					padding: 2.2rem 1.2rem;
					transition: color 0.3s ease-in-out;

					@include minWidth(1025px) {
						padding: 2.4rem 1.8rem;
					}

					&:hover {
						color: $dark-hover;
					}

					&:active {
						color: $dark;
					}
				}
			}
		}

		.nav__drawer {
			position: fixed;
			top: 7rem;
			left: -100%;
			width: 100%;
			height: calc(100% - 7rem);
			background-color: $light;
			color: $dark;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transform: translate(0, 0);
			transition: transform 0.3s ease-in-out;

			@include minWidth(769px) {
				display: none;
			}

			&.open {
				transform: translate(100%, 0);
			}

			&__item {
				text-transform: uppercase;
				padding: 1.25rem;
				list-style-type: none;

				& a {
					font-size: 1.4rem;
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.1rem;
					color: $dark;
					padding: 1.4rem;

					@include minWidth(1025px) {
						padding: 1.8rem;
					}

					&:active {
						color: $dark-hover;
					}
				}
			}
		}
	}
}
