// Jumbotron
.jumbotron {
	height: calc(100vh - 7rem);
	width: 100%;
	background-image: url('/images/heros/hero.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// Jumbotron inner
	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: rgba($color: $dark, $alpha: 0.7);
		padding: 0 1.2rem;
	}

	// Jumbotron title
	&__title {
		font-size: 2.6rem;
		font-weight: 400;
		margin-bottom: 1.4rem;

		@include minWidth(769px) {
			font-size: 3.2rem;
		}

		@include minWidth(1025px) {
			font-size: 4.2rem;
		}
	}

	// Jumbotron tagline
	&__tagline {
		font-size: 1.4rem;
		font-weight: 400;

		@include minWidth(769px) {
			font-size: 1.6rem;
		}

		@include minWidth(1025px) {
			font-size: 1.8rem;
		}
	}
}
