// Header
.header {
	@include minWidth(769px) {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	// Header brand
	&__brand {
		width: 100%;
		display: grid;
		justify-content: center;
		background-color: $light-primary;
		color: $light;

		@include minWidth(769px) {
			justify-content: start;
			padding-left: 2.4rem;
		}

		@include minWidth(1025px) {
			padding-left: 4.8rem;
		}

		// Brand title
		.brand__title {
			font-family: 'Zilla Slab', serif;
			font-weight: 300;
			font-size: 2.4rem;
			padding: 2.05rem 0;
			color: $light;
			text-decoration: none;
		}

		// Navigation toggle
		.nav__toggle {
			position: absolute;
			top: 0.75rem;
			left: 1rem;
			padding: 1rem;

			@include minWidth(769px) {
				display: none;
			}

			// Toggle bar
			.bar1,
			.bar2,
			.bar3 {
				width: 2.4rem;
				height: 0.3rem;
				background-color: $light;
				margin: 0.6rem 0;
				transition: 0.3s;
			}

			// On change
			&.change {
				margin-top: 0.2rem;
			}

			&.change .bar1 {
				width: 2.8rem;
				transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
				color: black;
			}

			&.change .bar2 {
				opacity: 0;
				transition: 0.3s ease-in-out;
			}

			&.change .bar3 {
				width: 2.8rem;
				transform: rotate(45deg) translate(-0.75rem, -0.75rem);
			}
		}
	}

	// Header navigation
	&__nav {
		width: 100%;
		background-color: $light-primary;
		display: grid;
		align-items: center;

		// Navigation list
		.nav__list {
			list-style-type: none;
			display: flex;
			justify-content: flex-end;

			@include minWidth(769px) {
				margin-right: 1.2rem;
			}

			@include minWidth(1025px) {
				margin-right: 3rem;
			}

			@include maxWidth(768px) {
				display: none;
			}

			// Navigation item
			.nav__item {
				text-transform: uppercase;

				// List anchor
				& a {
					font-size: 1.6rem;
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.1rem;
					color: $light;
					padding: 2.2rem 1.2rem;

					@include minWidth(1025px) {
						padding: 2.4rem 1.8rem;
					}

					&:hover {
						color: $light-hover;
					}

					&:active {
						color: $light-active;
					}
				}
			}
		}

		// Navigation drawer
		.nav__drawer {
			position: fixed;
			top: 6.1rem;
			width: 100%;
			height: 100%;
			background-color: $light-primary;
			color: $light;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transform: translate(-100%, 0);
			transition: transform 0.3s ease-in-out;

			@include minWidth(769px) {
				display: none;
			}

			// On open
			&.open {
				transform: translate(0, 0);
			}

			// Drawer item
			&__item {
				text-transform: uppercase;
				padding: 1.25rem;
				list-style-type: none;

				// Item anchor
				& a {
					font-size: 1.6rem;
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.1rem;
					color: $light;
					padding: 1.2rem;

					@include minWidth(1025px) {
						padding: 1.8rem;
					}

					&:active {
						color: $light-active;
					}
				}
			}
		}
	}
}
