// Restaurants section
.restaurants {
	padding: 0 2rem;
	color: $dark;

	@include minWidth(1025px) {
		padding: 0 4.8rem;
	}

	// Restaurant label
	&__label {
		font-size: 2.2rem;
		padding: 5rem 0;
		text-align: center;

		@include minWidth(769px) {
			font-size: 2.8rem;
		}
	}

	// Restaurant list
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 3rem;

		@include minWidth(769px) {
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
		}

		@include minWidth(1025px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}
	}
}

// Restaurant item
.restaurant {
	width: 100%;
	max-width: 45rem;
	box-shadow: 0px 0.2rem 0.6rem 0.2rem $light-shadow;
	border-radius: 0.5rem;

	// Restaurant thumbnail
	&__thumbnail {
		width: 100%;
		position: relative;
	}

	// Restaurant image inside thumbnail
	&__image {
		width: 100%;
		max-height: 20.4rem;
		object-fit: cover;
		border-radius: 0.5rem;
	}

	// Restaurant city inside thumbnail
	&__city {
		position: absolute;
		top: 1.5rem;
		left: 0;
		padding: 1rem;
		min-width: 9rem;
		background-color: $light-primary;
		font-weight: bold;
		color: $light;
		text-align: center;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	// Restaurant content
	&__content {
		padding: 1rem 1.6rem 1.6rem 1.6rem;
	}

	// Restaurant name
	&__name {
		font-size: 2rem;
		margin-bottom: 1.2rem;

		@include minWidth(769px) {
			font-size: 2.2rem;
		}
	}

	// Restaurant rating
	&__rating {
		margin-bottom: 1.2rem;
		display: flex;
		align-content: center;
		font-size: 1.8rem;

		&--icon {
			color: rgb(243, 243, 0);
			margin-right: 0.4rem;
		}
	}

	// Restaurant description
	&__description {
		font-size: 1.4rem;
		word-spacing: 0.1rem;

		@include minWidth(769px) {
			font-size: 1.5rem;
		}

		@include minWidth(1025px) {
			font-size: 1.6rem;
		}
	}
}
