// Restaurants section
.restaurants {
	padding: 0 2rem;
	color: $dark;

	@include minWidth(1025px) {
		padding: 0 4.8rem;
	}

	// Restaurant label
	&__label {
		font-size: 2.2rem;
		padding: 5rem 0;
		text-align: center;

		@include minWidth(769px) {
			font-size: 2.8rem;
		}
	}

	// Restaurant list
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 3rem;

		@include minWidth(769px) {
			grid-template-columns: 1fr 1fr;
		}

		@include minWidth(1025px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

// Restaurant item
.restaurant {
	width: 100%;
	max-width: 45rem;
	box-shadow: 0px 0.5rem 1.5rem 0px $light-shadow;
	border-radius: 0.5rem;

	// Restaurant thumbnail
	&__thumbnail {
		width: 100%;
		position: relative;
	}

	// Restaurant image inside thumbnail
	&__image {
		width: 100%;
		border-radius: 0.5rem;
	}

	// Restaurant city inside thumbnail
	&__city {
		position: absolute;
		top: 1rem;
		left: 0;
		padding: 1rem;
		background-color: $light-secondary-variant;
		color: $light;
	}

	// Restaurant content
	&__content {
		padding: 1.2rem;
	}
}
