<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Food Hunter</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header class="header">
			<div class="header__brand">
				<h1 class="brand__title">Food Hunter</h1>
				<a href="#" id="nav__toggle">☰</a>
			</div>
			<nav id="drawer" class="header__nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="">Home</a></li>
					<li class="nav__item"><a href="#">Favorite</a></li>
					<li class="nav__item"><a href="#">Reservations</a></li>
					<li class="nav__item">
						<a href="https://www.linkedin.com/in/muhamad-aziz-al-asaad-a7143218b/" target="_blank">About Us</a>
					</li>
				</ul>
				<!-- <ul class="nav__list__mobile">
					<li class="nav__item__mobile"><a href="#">Articles</a></li>
					<li class="nav__item__mobile"><a href="#">Tutorials</a></li>
					<li class="nav__item__mobile"><a href="#">Information</a></li>
					<li class="nav__item__mobile"><a href="#">Stories</a></li>
				</ul> -->
			</nav>
		</header>
	</body>
</html>
