<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Food Hunter</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet" />
	</head>
	<body>
		<header class="header">
			<div class="header__brand">
				<a href="#" class="nav__toggle">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</a>
				<a href="" class="brand__title">Food Hunter</a>
			</div>
			<nav id="drawer" class="header__nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="">Home</a></li>
					<li class="nav__item"><a href="#">Favorites</a></li>
					<li class="nav__item"><a href="#">Reservations</a></li>
					<li class="nav__item">
						<a href="https://www.linkedin.com/in/muhamad-aziz-al-asaad-a7143218b/" target="_blank">About Us</a>
					</li>
				</ul>
				<ul class="nav__drawer">
					<li class="nav__drawer__item"><a href="#">Home</a></li>
					<li class="nav__drawer__item"><a href="#">Favorites</a></li>
					<li class="nav__drawer__item"><a href="#">Reservation</a></li>
					<li class="nav__drawer__item">
						<a href="https://www.linkedin.com/in/muhamad-aziz-al-asaad-a7143218b/" target="_blank">About Us</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="jumbotron">
			<div class="jumbotron__inner">
				<h1 class="jumbotron__title">Best Restaurant Provide Good Foods</h1>
				<p class="jumbotron__tagline">Be wise to your healthy with our good foods and high quality</p>
			</div>
		</div>
	</body>
</html>
