.restaurants {
	padding: 0 2rem;
	color: $dark;

	@include minWidth(1025px) {
		padding: 0 4.8rem;
	}

	&__label {
		font-size: 2.2rem;
		padding: 10rem 0 5rem 0;
		margin: 0;
		text-align: center;
		position: relative;

		@include minWidth(769px) {
			font-size: 2.8rem;
		}
	}

	&__list {
		display: flex;
		justify-content: center;

		restaurant-item {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 3rem;

			@include minWidth(601px) {
				grid-template-columns: 1fr 1fr;
			}

			@include minWidth(920px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include minWidth(1365px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}

#favorite__restaurants {
	margin-top: 7rem;
	margin-bottom: 5rem;

	#favorite__label {
		margin: 0;
		padding-top: 5rem;
	}
}
