@import '../../variables';
@import '../../mixins';

.newsletter {
	background-color: $dark;
	margin: 5rem 0 0 0;
	padding: 5rem 2rem;
	color: $light;

	@include minWidth(769px) {
		padding: 7.5rem 2rem;
	}

	// Newsletter label
	&__label {
		font-size: 2.2rem;
		text-align: center;
		margin: 0;

		@include minWidth(769px) {
			font-size: 2.8rem;
		}
	}

	// Newsletter tagline
	&__tagline {
		margin: 1rem 0;
		font-size: 1.4rem;
		font-weight: 400;
		text-align: center;
		color: $light-2;

		@include minWidth(769px) {
			font-size: 1.6rem;
		}
	}

	// Newsletter brand
	&__brand {
		font-family: 'Zilla Slab', serif;
		font-weight: 300;
		font-size: 1.8rem;
		color: $dark-primary;
	}

	// Newsletter form
	&__form {
		margin-top: 3.2rem;

		form {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;
			justify-items: center;

			@include minWidth(426px) {
				grid-template-rows: 1fr;
				grid-template-columns: minmax(25rem, 30rem) 12rem;
				gap: 1.2rem;
				justify-content: center;
			}

			#email {
				box-sizing: border-box;
				padding: 1.5rem;
				margin-bottom: 1.2rem;
				width: 100%;
				border-radius: 0.5rem;
				border: 0;
				outline: 0;
				transition: box-shadow 0.3s ease-in-out;

				@include minWidth(426px) {
					margin-bottom: 0;
					max-width: 35rem;
				}
			}

			#emailError {
				margin-bottom: 1.2rem;
				font-size: 1.4rem;
				justify-self: left;
				display: none;

				@include minWidth(426px) {
					margin: 0;
				}
			}

			#subscribe {
				width: 100%;
				padding: 1.3rem;
				border-radius: 0.5rem;
				border: 0;
				background-color: $dark-secondary;
				cursor: pointer;
				outline: 0;
				text-transform: uppercase;
				font-weight: 600;
				font-family: 'Open Sans';
				font-size: 1.4rem;
				transition: background-color 0.3s ease-in-out;

				&:hover {
					background-color: $light-secondary-variant;
				}

				&:active {
					background-color: $dark-secondary;
				}
			}
		}
	}
}
