@import '../../variables';
@import '../../mixins';
@import '../../mdi';

// Restaurant container
.restaurants {
	padding: 0 2rem;
	color: $dark;

	@include minWidth(1025px) {
		padding: 0 4.8rem;
	}

	// Restaurant label
	&__label {
		font-size: 2.2rem;
		padding: 5rem 0;
		text-align: center;

		@include minWidth(769px) {
			font-size: 2.8rem;
		}
	}

	// Restaurant list
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 2rem;

		@include minWidth(601px) {
			grid-template-columns: 1fr 1fr;
		}

		@include minWidth(920px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include minWidth(1365px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

// Restaurant item
.restaurant {
	width: 100%;
	box-shadow: 0px 0.2rem 0.6rem 0.2rem $light-shadow;
	border-radius: 0.5rem;

	// Restaurant thumbnail
	&__thumbnail {
		width: 100%;
		position: relative;
	}

	// Restaurant image
	&__image {
		width: 100%;
		height: 20rem;
		object-fit: cover;
		border-radius: 0.5rem;
	}

	// Restaurant city
	&__city {
		position: absolute;
		top: 1.5rem;
		left: 0;
		padding: 1rem;
		margin: 0;
		min-width: 9rem;
		background-color: $light-primary;
		font-weight: bold;
		color: $light;
		text-align: center;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	// Restaurant content
	&__content {
		padding: 1rem 1.6rem;
	}

	// Restaurant name
	&__name {
		font-size: 2rem;
		margin-bottom: 1.2rem;
		margin: 0;

		@include minWidth(769px) {
			font-size: 2.2rem;
		}

		a {
			color: $dark;
			text-decoration: none;
		}
	}

	// Restaurant rating
	&__rating {
		margin: 1rem 0;
		display: flex;
		align-content: center;
		font-size: 1.8rem;

		i {
			margin-right: 1rem;
			color: $yellow;
		}
	}

	// Restaurant description
	&__description {
		font-size: 1.4rem;
		word-spacing: 0.1rem;
		text-align: justify;
		margin: 1rem 0;
	}

	&__action {
		padding: 1.6rem;
		margin-bottom: 2rem;
		text-align: center;

		a {
			background-color: $dark-secondary;
			padding: 1.3rem;
			font-size: 1.4rem;
			text-decoration: none;
			color: $dark;
			font-weight: 600;
			border-radius: 0.5rem;
			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: $light-secondary-variant;
			}

			&:active {
				background-color: $dark-secondary;
			}
		}
	}
}
