// Light colors
$light: #fafafa;
$light-hover: #dfdfdf;
$light-primary: #6200ee;
$light-primary-variant: #3700b3;
$light-secondary: #03dac6;
$light-secondary-variant: #018786;
$light-error: #b00020;
$light-shadow: #cacaca;

// Dark colors
$dark: #121212;
$dark-2: #1e1e1e;
$dark-hover: #727272;
$dark-primary: #bb86fc;
$dark-primary-variant: #3700b3;
$dark-secondary: #03dac6;
$dark-error: #cf6679;
