@import './utils/variables';
@import './utils/mixins';

:root {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: $light;
	position: relative;
	background-color: $light;
}

// Navbar style
@import './utils/navigation';

main {
	width: 100%;
}

footer {
	color: $dark;
	text-align: center;
	padding: 2rem 0;
	font-family: 'Zilla Slab', serif;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
