@import './utils/variables';
@import './utils/mixins';
@import './utils/mdi';
@import './utils/extends';

:root {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: $light;
	position: relative;
	background-color: $light;
}

main {
	width: 100%;
}

footer {
	color: $dark;
	text-align: center;
	padding: 2rem 0;
	font-family: 'Zilla Slab', serif;
}

// Components
@import './components/navigation';
@import './components/render-failed';
@import './components/restaurant-item';
@import './components/skeleton-loading';
// Home
@import './components/home/jumbotron';
@import './components/home/newsletter';
@import './components/home/restaurants-list';
// Restaurant
@import './components/restaurant/menu';
@import './components/restaurant/profile';
@import './components/restaurant/review-modal';
@import './components/restaurant/review';
