@import './variables';
@import './mixins';

:root {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: $light;
	position: relative;
	background-color: $light;
}

// Navbar style
@import './components/navigation';

main {
	width: 100%;
}

footer {
	color: $dark;
	text-align: center;
	padding: 2rem 0;
	font-family: 'Zilla Slab', serif;
}
