/* Spinner Loading */

%spinner-loading {
	content: '';
	box-sizing: border-box;
	margin: 0 auto;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border: 0.2rem solid transparent;
	border-top-color: $light-primary;
	border-bottom-color: $light-primary;
	animation: spinner 0.7s ease infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
